body {
  margin-top: 150px;
  background-color: rgb(169, 86, 52);
  color: rgb(25, 15, 3);
}

nav {
  position: fixed;
  top: 0px;
  left: 200px;
  width: 70%;
  background-color: rgba(39, 49, 38, 0.5);
  padding: 20px 30px;
}

header {
  position: fixed;
  top: -35px;
  left: 0px;
  width: 100%;
}

.nav {
  display: inline;
  margin: 20px 50px;
  font-size: 20px;
}

a:link {
  color: rgb(25, 15, 3);
  text-decoration: none;
}

a:visited {
  color: rgb(25, 15, 3);
  text-decoration: none;
}

a:hover {
  color: rgb(186, 150, 87);
}

fieldset {
  margin-bottom: 30px;
  border: 3px dotted rgb(186, 150, 87);
  border-radius: 5px;
  /*color: rgb(39, 49, 38);*/
  color: color: rgb(25, 15, 3);
  font-size: 18px;
}

legend {
  font-weight: bold;
}

input {
  margin: 5px 0px;
  margin-right: 40px;
  border-radius: 5px;
}

input#submit {
  background-color: rgb(186, 150, 87);
}

p {
  display: inline;
}

table {
  margin-bottom: 10px;
	border: 3px solid rgb(25, 15, 3);
}

td {
  border: 1px solid rgb(25, 15, 3);
  border-radius: 5px;
	padding: 10px;
  background: rgb(186, 150, 87);
}

th {
  background-color: rgba(39, 49, 38, 0.4);
	color: rgb(25, 15, 3);
}
