* {
  /*border: 1px solid black;*/
}

/*make layout liquid pg 382, 385*/
/*fixed positioning pg 364, 368*/
/*column for location section pg 375*/

body {
  margin-top: 150px;
  background-color: rgb(169, 86, 52);
  color: rgb(25, 15, 3);
}

nav {
  position: fixed;
  top: 0px;
  left: 200px;
  width: 70%;
  background-color: rgba(39, 49, 38, 0.5);
  padding: 20px 30px;
}

header {
  position: fixed;
  top: -35px;
  left: 0px;
  width: 100%;
}

.nav {
  display: inline;
  margin: 20px 40px;
  font-size: 20px;
}

a:link {
  color: rgb(25, 15, 3);
  text-decoration: none;
}

a:visited {
  color: rgb(25, 15, 3);
  text-decoration: none;
}

a:hover {
  color: rgb(186, 150, 87);
}

/*background image opacity .5
background image attribution: https://www.flickr.com/photos/53532879@N07/10460205174/*/

/*main background for all h2s or make others besides first after nav tan color: rgb(186, 150, 87);? */
main {
  background-image: url(../images/main.jpg);
  background-attachment: fixed;
  /*opacity: 0.3;*/
}

p {
  width: 50%;
}

h2 {
  background-color: rgba(39, 49, 38, 0.4);
  padding: 20px 30px;
}

/*Location list displays to the left of the map*/
.stores {
  margin: 0 auto;
}


.image {
  margin: 0px 20px;
  height: 300px;
  width: 400px;
}

li {
  display: inline-block;
}
