body {
  margin-top: 150px;
  background-color: rgb(169, 86, 52);
  color: rgb(25, 15, 3);
}

header {
  position: fixed;
  top: -35px;
  left: 0px;
  width: 100%;
}

nav {
  position: fixed;
  top: 0px;
  left: 200px;
  width: 70%;
  background-color: rgba(39, 49, 38, 0.5);
  padding: 20px 30px;
}

nav ul {
  height: 50px;
}

nav ul li {
  display: inline-block;
  margin: 20px 40px;
  font-size: 20px;
}

a:link {
  color: rgb(25, 15, 3);
  text-decoration: none;
}

a:visited {
  color: rgb(25, 15, 3);
  text-decoration: none;
}

a:hover {
  color: rgb(186, 150, 87);
}

main {
  background-image: url(../images/main.jpg);
  background-attachment: fixed;
}

p {
  width: 50%;
}

h2 {
  background-color: rgba(39, 49, 38, 0.4);
  padding: 20px 30px;
}

.image {
  margin: 0px 20px;
  height: 300px;
  width: 400px;
}

.menu li {
  padding-left: 100px;
  padding-right: 170px;
}

ol li {
  display: inline-block;
  padding-left: 70px;
}

ol li:nth-child(2) {
  padding-left: 120px;
}

ol li:nth-child(3) {
  padding-left: 40px;
}
